.mainCont{
  font-size: 23px;
  line-height: 38px;
  color: #43301f;
  font-family: "Cormorant Garamond", Helvetica, Arial, sans-serif;
}
.mainContMS{
  font-size: 16px;
  line-height: 38px;
  color: #43301f;
  font-family: "Cormorant Garamond", Helvetica, Arial, sans-serif;
}
.imageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.descWrapper{
  text-align: center;
}
.title{
  line-height: 38px;
  color: #43301f;
  font-family: "Libre Baskerville", Helvetica, Arial, sans-serif;
}
/* .title::before{
  background-color: #947848;
  transition: all 121.568ms ease-in-out 0ms;
  content: "";
  display: block;
  width: 0;
  margin: 0 auto;
  height: 2px;
  top: -15px;
  position: relative;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
} */
